.day {
  margin: 0.06px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  cursor: pointer;
  transition: all 0.2s linear;
  overflow: hidden;

  @media screen and (max-width: 420px) {
    min-height: 50px;
  }

  &:hover {
    background-color: #ddd;
  }

  p {
    font-size: 1rem;
    margin-block: 0.5rem;
    font-weight: bold;
    @media screen and (max-width: 420px) {
      font-size: 0.7rem;
    }
  }

  &-circle-today {
    margin-block: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #325f8f;
    color: white;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    p {
      color: #fff;
    }
  }

  .grayish {
    color: #bbb;
  }
  .blueish {
    font-weight: bold;
    color: #325f8f;
  }
}
.weekend {
  background-color: rgba(235, 233, 233, 1);
}

.day__event {
  flex: 1;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  &-event {
    padding: 0.2rem 0.4rem;
    margin: 0 20px;
    background-color: #bfd6f0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    width: 75px;
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
    flex-wrap: nowrap;
    white-space: nowrap;
    @media screen and (max-width: 420px) {
      margin-left: 10px;
      width: 30px;
    }
    p {
      margin: 0;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    cursor: pointer;
    transition: all 0.2s linear;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-inline: 0.3rem;
    }
    &:hover {
      background-color: #8fbdf1;
    }
    @media screen and (max-width: 420px) {
      font-size: 0.8rem;
      img {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.2rem;
      }
    }
  }
}

// ! added just for accessibility purposes, being able to press tab to navigate
.btn__day {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
